[Unit]
Description=Play yukarin sleep preparation voice

[Service]
Type=oneshot
EnvironmentFile=%h/yukarin-voice-caster/.env
ExecStart=%h/yukarin-voice-caster/main.py sleep-preparation.mp3

[Install]
WantedBy=multi-user.target
